# Build Files and Locations
obj/*
bin/*
*.o
AccelLib/* # dir used by make to create an arduino library zip

# Executables
*.exe
*.app

# Compressed Files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip 

# Log Files
*.log
*.sql
*.sqlite
*.db

# DoxyBlocks
doxygen/*

# Codeblocks
*.cbp
*.depend
*.layout
